<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      8Gag App
    </ion-title>
    <ion-buttons end>
      <button ion-button
              (click)="ingresar()"
              *ngIf='!isAuthenticated'>Ingresar</button>
      <button
             ion-button
             (click)="salir()"
             *ngIf='isAuthenticated'>Salir</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let post of _ca.imagenes">
    <img [src]="post.img"/>
    <ion-card-content>
      <ion-card-title>
        {{post.title}}
      </ion-card-title>
    </ion-card-content>

    <ion-row>
      <ion-col text-right>
        <button ion-button clear small color="primary"
                icon-left (click)="compartir(post)">
          <ion-icon name="share-alt"></ion-icon>
          Compartir
        </button>
      </ion-col>
    </ion-row>

  </ion-card>


  <ion-fab bottom right  *ngIf='isAuthenticated'>

    <button ion-fab
          color="danger" (click)="mostrarModal()"><ion-icon name="add"></ion-icon></button>

  </ion-fab>

<ion-infinite-scroll (ionInfinite)="cargar_siguientes($event)" [enabled]='hayMas'>
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>
